#

In [12]:
import AT_240529 as AT_
from collections import deque
#json Load현할 것.

In [54]:
import AT_240529 as AT_
from collections import deque
import pyupbit as pu
#json Load현할 것.

deque_ = deque()
ticker = 'KRW-XRP'
load_ = AT_.DataLoader(ticker=ticker).LoadData()
load_ = sorted(load_, key=lambda x: x['trade_timestamp'])
deque_.extend(load_)
# del load_

# for _ in range(len(deque_)):
#     data = deque_.popleft()
#     print(data)

In [55]:
ohlcv = AT_.ohlc(deque_)
ohlcv['volume'] = ohlcv['volume_ask'] + ohlcv['volume_bid']
upbit_ = pu.get_ohlcv(ticker, interval='minute1', count=10)
my_ = ohlcv[-10:]

N_ = upbit_['volume']-my_['volume']

In [56]:
N_

2024-05-30 23:15:00    7.275958e-12
2024-05-30 23:16:00    3.637979e-12
2024-05-30 23:17:00   -1.818989e-12
2024-05-30 23:18:00    0.000000e+00
2024-05-30 23:19:00    1.455192e-11
2024-05-30 23:20:00    0.000000e+00
2024-05-30 23:21:00    0.000000e+00
2024-05-30 23:22:00    1.455192e-11
2024-05-30 23:23:00    0.000000e+00
2024-05-30 23:24:00    1.647212e+04
Name: volume, dtype: float64

In [46]:
ohlcv[-10:]

,open,high,low,close,volume_ask,volume_bid,count_ask,count_bid,seller,buyer,volume
date,,,,,,,,,,,
2024-05-30 23:12:00,1118.0,1119.0,1117.0,1119.0,2.752979e+04,30406.301136,42,61,15,54,5.793609e+04
2024-05-30 23:13:00,1119.0,1119.0,1117.0,1117.0,3.547706e+04,34321.941530,44,34,16,29,6.979900e+04
2024-05-30 23:14:00,1117.0,1118.0,1116.0,1118.0,2.864106e+04,20346.658744,61,40,21,31,4.898771e+04
2024-05-30 23:15:00,1117.0,1118.0,1116.0,1117.0,7.507506e+04,27371.705474,89,39,34,34,1.024468e+05
2024-05-30 23:16:00,1117.0,1117.0,1112.0,1113.0,2.360038e+05,22526.715570,316,60,77,53,2.585305e+05
2024-05-30 23:17:00,1112.0,1114.0,1111.0,1114.0,2.222358e+05,36530.461387,235,69,95,58,2.587662e+05
2024-05-30 23:18:00,1114.0,1115.0,1112.0,1113.0,7.925779e+04,52123.386771,99,80,43,63,1.313812e+05
2024-05-30 23:19:00,1113.0,1114.0,1110.0,1110.0,1.975337e+05,20651.692818,334,44,112,37,2.181853e+05
2024-05-30 23:20:00,1111.0,1111.0,1090.0,1094.0,1.747843e+06,261718.012288,2062,220,563,193,2.009561e+06
2024-05-30 23:21:00,1094.0,1100.0,1092.0,1100.0,2.070478e+05,202410.276437,131,137,79,104,4.094581e+05

In [43]:
import pandas as pd
pd.set_option('display_max_row', None)

OptionError: No such keys(s): 'display_max_row'

In [47]:
N_

2024-05-30 23:12:00             NaN
2024-05-30 23:13:00             NaN
2024-05-30 23:14:00    7.275958e-12
2024-05-30 23:15:00    0.000000e+00
2024-05-30 23:16:00    0.000000e+00
2024-05-30 23:17:00    0.000000e+00
2024-05-30 23:18:00    0.000000e+00
2024-05-30 23:19:00    0.000000e+00
2024-05-30 23:20:00    0.000000e+00
2024-05-30 23:21:00    3.570356e+05
2024-05-30 23:22:00             NaN
2024-05-30 23:23:00             NaN
Name: volume, dtype: float64

In [17]:
ticker = 'KRW-STEEM'

In [18]:
os.path.join(os.path.dirname(os.getcwd()),
                                      'DataBase',
                                      ticker)

'/Users/nnn/Desktop/DataBase/KRW-STEEM'